<!DOCTYPE html>
<html lang="en">

    <title>Budget Index Page</title>

<body>

    <div class="container">
        <h1>Budgtr ALL</h1>

        <table>
            <% for (var i = 0; i < allBudgets.length; i++) { %>
             <tr>
               <td><%= allBudgets[i].date %></td>
               <td><a href="/budget/<%=i%>"><%=allBudgets[i].name %></a></td>
               <td><%= allBudgets[i].amount %></td>
             </tr>    
            <% } %> 
         </table> 
    </div>
    <a href = "/budget/new">Create New Budget</a>

</body>
</html>