<!DOCTYPE html>
<html lang="en">

    <%- include(`./partials/head.ejs`);%>

    <title>New Budget</title>

    <form action="/budgets">
      <input type="submit" value="Back to Index" />
  </form>

<body>

  <h1>New Budget</h1>
  
  <form action="/budgets/" method="POST">

    Date: <input type="text" name="date" placeholder="Date" /><br />
    Name: <input type="text" name="name" placeholder="Name"/><br />
    From: <input type="text" name="name" placeholder="From"/><br />
    Amount: <input type="text" name="amount" placeholder="Amount"/><br />
  
  <input type="submit" value="Create Budget">
</form>

</body>
</html>