<!DOCTYPE html>
<html lang="en">
<head>


    <title>New Budget</title>
</head>
<body>

  <h1>New Budget</h1>

  <a href = "/budgets">Back</a>
  
  <form action="/budget/" method="POST">

    Date: <input type="text" name="date" placeholder="Date" /><br />
    Name: <input type="text" name="name" placeholder="Name"/><br />
    From: <input type="text" name="from" placeholder="From"/><br />
    Amount:<input type="text" name="amount" placeholder="Amount"/><br />
  
  <input type="submit" value="Create Budget">
</form>

</body>
</html>