<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet">
    <title>New Page</title>
    <style>
        body {
            padding-top: 5%;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Add New Item</h1>
        <form action="/budget" method="POST">
            <input type="text" placeholder="Enter date" name="date" /><br />
            <input type="text" placeholder="Enter your name" name="name" /><br />
            <input type="number" placeholder="Enter your amount" name="amount" /><br />
            <input type="text" placeholder="place of your purchase" name="from" /><br />
            <input type="text" placeholder="tags" name="tags" /><br />
            <button type="submit">CREATE NEW ITEM</button>
        </form>
    </div>
</body>

</html>